@media (max-width: 1300px) {
    .preparation {
        &__content {
            flex-wrap: wrap;
            justify-content: center;
            gap: 16px;
        }
    }
}

@media (max-width: 1200px) {
    .main {
        grid-template: 1fr 1fr / minmax(auto, 971px);
    }

    .clients__item-container {
        margin-bottom: 4rem;
    }
    .aside__wrapper {
        max-width: 949px;
        height: 537px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .rating {
        margin: 0;
        flex-basis: 35%;
    }

    .chats {
        margin-bottom: 0;
    }

    .tech-support {
        align-self: flex-start;
        &__title {
            margin: 0 56px 32px;
        }
        &__text {
            padding-right: 20px;
        }
    }
}

@media (max-width: 1045px) {
    .header__logo {
        margin-bottom: 4rem;
        padding: 4rem 0 0;
    }
    .aside__wrapper {
        flex-wrap: wrap;
        justify-content: center;
        height: fit-content;
    }

    .rating {
        margin-bottom: 0;
    }

    .position-list__item {
        padding-right: 15px;
    }

    .aside__wrapper {
        flex-flow: column nowrap;
    }

    .tech-support {
        max-width: 300px;
        margin: 0 auto;
        &__content {
            top: 274px;
        }
    }
}

@media (max-width: 1000px) {
    .rating__ditails {
        display: flex;
        flex-direction: column;
    }

    .rating__position {
        margin-bottom: 10px;
        margin-right: 0;
    }
}

@media (max-width: 900px) {
    .preparation {
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__title {
            text-align: center;
        }
        &__content {
            max-width: 313px;
            flex-flow: column nowrap;
        }
        &__item {
            margin-right: 0;
        }
    }

    .profession {
        &__item {
            flex-direction: column;
            gap: 15px;
        }
        &__icon {
            padding-right: 0;
            order: 2;
        }
        &__info {
            text-align: center;
        }
        &__btn {
            margin-left: 0;
        }
    }

    .clients {
        &__item {
            flex-direction: column;
            gap: 15px;
        }
        &__btn {
            margin-left: 0;
        }
    }
    .chats {
        margin-bottom: 0;
    }
}

@media (max-width: 830px) {
    .profession {
        &__title {
            text-align: center;
        }
    }
    .clients {
        &__item_white {
            padding: 37px 37px 143px;
        }
        padding-left: 0;
        &__icon {
            bottom: -7%;
            left: 34%;
        }
        &__info {
            padding-left: 0;
            text-align: center;
        }
    }
}

@media (max-width: 660px) {
    .content-wrapper {
        padding: 0 15px;
    }
    .header {
        width: auto;
    }
    .side-menu {
        display: none;
    }
}

@media (max-width: 372px) {
    .clients {
        &__icon {
            left: 20%;
        }
    }
}
