@media (max-width: 1300px) {
    .preparation {
        &__content {
            flex-wrap: wrap;
            justify-content: center;
            gap: 16px;
        }
    }
}

@media (max-width: 1200px) {
    .main {
        grid-template: 1fr 1fr / minmax(auto, 971px);
    }

    .clients__item-container {
        margin-bottom: 4rem;
    }
    .aside__wrapper {
        max-width: 949px;
        height: 537px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .rating {
        margin-top: 0;
        flex-basis: 35%;
    }

    .tech-support {
        align-self: flex-start;
    }
}

@media (max-width: 1045px) {
    .header__logo {
        margin-bottom: 4rem;
        padding: 4rem 0 0;
    }
    .aside__wrapper {
        flex-wrap: wrap;
        justify-content: center;
        height: fit-content;
    }

    .rating {
        margin-bottom: 0;
    }

    .position-list__item {
        padding-right: 15px;
    }

    .tech-support {
        order: -1;
    }
}

@media (max-width: 1000px) {
    .rating__ditails {
        display: flex;
        flex-direction: column;
    }

    .rating__position {
        margin-bottom: 10px;
        margin-right: 0;
    }
}

@media (max-width: 900px) {
    .preparation {
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__title {
            text-align: center;
        }
        &__content {
            max-width: 313px;
            flex-flow: column nowrap;
        }
        &__item {
            margin-right: 0;
        }
    }

    .profession {
        &__item {
            flex-direction: column;
            gap: 15px;
        }
        &__icon {
            padding-right: 0;
        }
        &__info {
            text-align: center;
        }
        &__btn {
            margin-left: 0;
        }
    }

    .aside__wrapper {
        flex-flow: column nowrap;
    }

    .chats {
        margin-bottom: 0;
    }

    .tech-support {
        order: 2;
        margin: 0 auto;
    }
}
